{% extends "layout.html" %}

{% block content %}
<div class="container mt-4">
    <table class="table">
        <tr>
            <th class="col" scope="col"> ランキング名 </th>
        </tr>
        {% for item_category in item_categories %}
        <tr>
            <td scope="row">
                <button class="col card show_modal">
                    {{ item_category.item_category_name }}
                    <p class="game_create_url" hidden>{{ url_for(game_create_url, item_category_id=item_category.id) }}</p>
                </button>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<!-- ボタン・リンククリック後に表示される画面の内容 -->
<div class="modal fade" id="gameCreateModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>ゲーム開始確認</h4>
            </div>
            <div class="modal-body">
                <label>
                    ゲームを開始しますか？<br>
                    ※既存のゲームに参加するには、URLまたはQRコードを共有してもらってください
                </label>
            </div>
            <div class="modal-footer">
                <button type="button" id="gameCreateModalClose" class="btn btn-default" data-dismiss="modal">閉じる</button>
                <button type="button" id="gameCreateModalConfirm" , class="btn btn-primary">開始</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='category_list.js') }}"></script>

{% endblock %}